/* Mosaica 1 *****************************************/
.mosaica-1 .m-block-left .image-wrap {padding-bottom: 450px;}
.mosaica-1.items-count-2 .m-block-right .post-top .image-wrap {padding-bottom: 450px;}
.mosaica-1.items-count-2 .m-block-right .post-top .post-title-wrap {margin-bottom: 1rem;}
.mosaica-1.items-count-2 .m-block-right .post-top .post-title-wrap h3.post-title {font-size: 26px;font-weight: 500;line-height: 35px;margin: 0;}
.mosaica-1.items-count-2 .m-block-right .post-top .post-data-wrap {display: block !important;}
