/* All Widget Templates ***********************************************************************************************/
[class^=template-] {position: relative;overflow: hidden;}
[class^=template-] * {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
[class^=template-] *:before,
[class^=template-] *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
[class^=template-] a {text-decoration: none;font-family: sans-serif;color: #222222;}
/*[class^=template-] a:hover {color: #4db2ec;}*/
/* Block Title */
[class^=template-] .block-title-wrap {border-bottom: 2px solid #222222;margin-bottom: 26px;}
[class^=template-] .block-title-wrap h4 {display: inline-block;background: #222222;color: #fff;padding: 7px 12px 4px;font-weight: 500;}
/* Images Container */
[class^=template-] .block-content .image-container {position: relative;}
/* Images */
[class^=template-] .image-wrap {display: block;line-height: 0;overflow: hidden;}
[class^=template-] .image-wrap img {/*width: 100%;height: auto;vertical-align: middle;*/
    display: block;width: 100%;height: 100%;position: absolute;
    background-size: cover;background-position: center center;/*background-position: center 50%;*/
    -webkit-transition: transform .3s ease,opacity .3s;transition: transform .3s ease,opacity .3s;
}
/* Span Images */
[class^=template-] .block-content .image-wrap {display: block;position: relative;padding-bottom: 67%;overflow: hidden;}
[class^=template-] .block-content .image-wrap .bg-img {position: absolute;display: block;width: 100%;height: 100%;background-size: cover;background-position: center;}
/* Post Category  */
[class^=template-] .image-container .post-category {position: absolute;left: 0;bottom: 0;display: block;font-size: 0;line-height: 1;}
[class^=template-] .image-container .post-category a {display: inline-block;margin: 0 5px 0 0;padding: 5px 10px;background: #000;color: #fff;font-size: 11px;line-height: 12px;font-weight: 500;text-decoration: none;text-transform: uppercase;transition: all .3s ease;}
/*[class^=template-] .image-container .post-category a:hover {background: #4db2ec;}*/
/* Post Title */
[class^=template-] .post-info h3.post-title a {font-size: 20px;line-height: 25px;font-weight: 500;color: #222222;}
/*[class^=template-] .post-info h3.post-title a:hover {color: #4db2ec;}*/
/* Post Date */
[class^=template-] .post-data-wrap {font-size: 11px;}
[class^=template-] .post-data .block-post-author-name a {color: #000;line-height: 18px;}
[class^=template-] .post-data {font-size: 11px;color: #bbbbbb;}
[class^=template-] .post-data span {color: #bbbbbb;}
/* Post Author */
[class^=template-] .post-author {font-weight: 600;font-size: 11px;}
/* Post View */
[class^=template-] .post-view {display: block;background: #000;color: #fff;font-size: 10px;font-weight: 600;text-align: center;line-height: 11px;position: relative;top: -5px;padding: 4px 6px;}
[class^=template-] .post-view:after {position: absolute;bottom: -3px;left: 0;content: '';width: 0;height: 0;border-style: solid;border-width: 3px 3px 0 0;border-color: #000 transparent transparent;}
/* Post Description */
[class^=template-] .post-description {color: #999;line-height: 21px;font-size: 13px;}
/* Post List */
[class^=template-] .post-list .post-item {margin-bottom: 1.5rem;display: -ms-flexbox;display: flex;}
[class^=template-] .post-list .image-container {-ms-flex: 0 0 30%;flex: 0 0 30%;max-width: 30%;width: 30%;order: 0;position: relative;}
[class^=template-] .post-list .post-info {padding: 0 0 0 25px;width: 100%;}
[class^=template-] .block-content .post-list .post-info h3 a {font-size: 14px;line-height: 20px;font-weight: 600;}
/* Images Format */
[class^=template-] .image-wrap._16x9 {padding-bottom: 35% !important;}
[class^=template-] .image-wrap._16x9 {padding-bottom: 35% !important;}
[class^=template-] .image-wrap._4x3 {padding-bottom: 67% !important;}
[class^=template-] .image-wrap._3x2 {padding-bottom: 55% !important;}
[class^=template-] .image-wrap._1x1 {padding-bottom: 100% !important;}
@media (min-width: 768px) {
    .w-md-30 {width: 30% !important;}
    .w-md-100 {width: 100% !important;}
    [class^=template-] .post-list .post-item {margin-bottom: 2.5rem !important;}
}
@media (max-width: 767px) {
    [class^=template-] .post-list .post-item {margin-bottom: 2.5rem !important;}
    [class^=template-] .post-list .post-info {padding: 0 0 0 15px !important;}
    [class^=template-] .post-list .post-data-wrap {margin: 0 !important;}
}

/* Post Horizontal */
.post-hr {display: -ms-flexbox;display: flex;}
.post-hr .image-container {-ms-flex: 0 0 30%;flex: 0 0 30%;order: 0;}
.post-hr .post-category {display: none !important;}
.post-hr .post-info {padding: 0 1rem;/*padding: 0 0 0 25px;*/}
.post-hr h3.post-title a {font-size: 20px !important;line-height: 25px !important;font-weight: 500 !important;}
.post-hr .post-data-wrap {font-weight: 600;font-size: 11px;line-height: 18px;}
/*.post-hr .post-author-name {display: none;}*/
/*.post-hr .post-view {display: none !important;}*/
/*.post-hr .post-description {display: none !important;}*/

/* Post Horizontal + Description */
/*.hr-view .post-view {display: block !important;}*/
/*.hr-desc .post-description {display: block !important;}*/

/* Post Vertical */
.post-vr {-ms-flex-direction: column;flex-direction: column;}
.post-vr .block-content .image-container {-ms-flex: 0 0 100%;flex: 0 0 100%;position: relative;}
.post-vr .post-category {display: block !important;}
.post-vr .post-info {padding: 15px 0 0;}
.post-vr .post-info h3.post-title a {font-size: 20px !important;line-height: 25px !important;font-weight: 500 !important;}
.post-vr .post-description {display: block !important;}
/* END All Widget Templates *******************************************************************************************/


/* Widget Template-1  Post List ***************************************************************************************/
.template-1 .post-list .post-item {margin-bottom: 2.5rem;}
.template-1 .post-list .image-container {-ms-flex: 0 0 24%;flex: 0 0 24%;max-width: 24%;width: 24%;order: 0;}
/*.template-1 .post-list .image-container .post-category {display: none;}*/
.template-1 .post-list .post-info h3.post-title a {font-size: 20px;line-height: 25px;font-weight: 500;display: inline-block;}
@media (max-width: 1024px) {
    .template-1 .post-list .post-description {max-height: 42px;overflow: hidden;}
}
@media (max-width: 768px) {
    .template-1 .post-list .post-item {margin-bottom: 1.5rem;}
    .template-1 .post-list .image-container {-ms-flex: 0 0 30%;flex: 0 0 30%;max-width: 30%;width: 30%;order: 0;}
    .template-1 .post-list .post-info h3.post-title a {font-size: 14px !important;line-height: 20px !important;font-weight: 600;display: inline-block;
        max-height: 39px;overflow: hidden;}
    .template-1 .post-list .post-description {max-height: 42px;overflow: hidden;}
}
@media (max-width: 767px) {
    .template-1 .post-list .post-title {max-height: 42px;overflow: hidden;}
}
/* END Widget Template-1  Post List ***********************************************************************************/


/* Widget Template 1-2 ************************************************************************************************/
.template-1-2 .post-list {margin-left: -15px;margin-right: -15px;}
.template-1-2 .post-list .post-item {width: 50%;float: left;padding-left: 15px;padding-right: 15px;padding-bottom: 15px;margin-bottom: 1.5rem;}
.template-1-2 .post-list .post-item:nth-child(2n+1) {clear: both;}
.template-1-2 .post-list .block-content .image-wrap {padding-bottom: 70%;}
.template-1-2 .post-list .image-container .post-category {display: none;}
.template-1-2 .post-list .post-description {max-height: 43px;overflow: hidden;display: none;}
.template-1-2 .post-list .post-info h3.post-title a {font-size: 18px !important;line-height: 22px !important;font-weight: 500;display: inline-block;}
@media (max-width: 1024px) {
    .template-1-2 .post-list .post-info h3.post-title a {font-size: 18px !important;line-height: 22px !important;font-weight: 500;display: inline-block;max-height: 39px;overflow: hidden;}
    .page-layout-2columns-right .template-1-2 .post-list .post-info h3.post-title a,
    .page-layout-2columns-left .template-1-2 .post-list .post-info h3.post-title a {font-size: 14px !important;line-height: 20px !important;font-weight: 600 !important;}
    .template-1-2 .post-list .post-description {display: none;}
}
@media (max-width: 992px) {
    .template-1-2 .post-list .post-info h3.post-title a {font-size: 14px !important;line-height: 20px !important;font-weight: 600;display: inline-block;max-height: 39px;overflow: hidden;}
}
@media (max-width: 768px) {
    .template-1-2 .post-list .block-content .image-wrap {padding-bottom: 70%;}
    .template-1-2 .post-list .post-description {font-size: 13px;}
}
@media (max-width: 767px) {
    .template-1-2 .post-list {margin: 0;}
    .template-1-2 .post-list .post-item {width: 100%;float: none;padding: 0;}
}
/* END Widget Template 1-2 ********************************************************************************************/


/* Widget Template 1-3 ************************************************************************************************/
.template-1-3 .post-list {margin-left: -15px;margin-right: -15px;}
.template-1-3 .post-list .post-item {width: 33%;float: left;padding-left: 15px;padding-right: 15px;padding-bottom: 15px;}
.template-1-3 .post-list .post-item:nth-child(3n+1) {clear: both;}
.template-1-3 .post-list .block-content .image-wrap {padding-bottom: 70%;}
.template-1-3 .post-list .image-container .post-category {display: none;}
/*.template-1-3 .post-list .post-info h3.post-title a {font-size: 14px !important;line-height: 20px !important;font-weight: 600 !important;display: inline-block;}*/
/*.template-1-3 .post-list .post-title {max-height: 42px;overflow: hidden;}*/
@media (max-width: 1024px) {
    /*.template-1-3 .post-list .post-title {max-height: 37px;overflow: hidden;}*/
}
@media (max-width: 768px) {
    .template-1-3 .post-list .post-item {width: 50%;}
    .template-1-3 .post-list .block-content .image-wrap {padding-bottom: 67%;}
    .template-1-3 .post-list .post-item:nth-child(3n+1) {clear: none;}
    .template-1-3 .post-list .post-item:nth-child(2n+1) {clear: both;}
}
@media (max-width: 767px) {
    .template-1-3 .post-list {margin: 0;}
    .template-1-3 .post-list .post-item {width: 100%;float: none;padding: 0;}
    /*.template-1-3 .post-list .post-title {max-height: 42px;overflow: hidden;}*/
}
/* END Widget Template 1-3 ********************************************************************************************/


/* Widget All Template 2 **********************************************************************************************/
[class^=template-2] .block-post-grid {position: relative;overflow: hidden;margin-left: -15px;margin-right: -15px;}
[class^=template-2] .block-content {margin-left: -1.5rem;margin-right: -1.5rem;}
[class^=template-2] .block-post-grid .block-post .image-container {position: relative;}
[class^=template-2] .post-info {padding-top: 15px;}
@media (max-width: 767px) {
    [class^=template-2] .block-content {margin: 0 0;}
}
/* END Widget All Template 2 ******************************************************************************************/

/* Widget Template-2-1  Post Grid Three Column ************************************************************************/
.template-2-1 .block-post {width: 33.3%;float: left;padding: 0 15px 15px;margin-bottom: 15px;}
.template-2-1 .block-post:nth-child(3n+1) {clear: both;}
@media (max-width: 1024px) {
    .template-2-1 .post-view {display: none !important;}
}
@media (max-width: 768px) {
    /*.template-2-1 .post-info h3.post-title a {font-size: 14px;font-weight: 600;line-height: 1.4;}*/
}
@media (max-width: 767px) {
    .template-2-1 .block-post-grid {margin-left: -7.5px;margin-right: -7.5px;}
    .template-2-1 .block-post {width: 100%;float: left;padding: 0 7.5px 7.5px;margin-bottom: 25px;}
}
/* END Widget Template-2-1  Post Grid Three Column ********************************************************************/

/* Widget Template 2-2 ************************************************************************************************/
.template-2-2 .block-post {width: 50%;float: left;padding: 0 15px 15px;margin-bottom: 15px;}
.template-2-2 .block-post:nth-child(2n+1) {clear: both;}
@media (max-width: 767px) {
    .template-2-2 .block-post-grid {margin: 0;}
    .template-2-2 .block-post {width: 100%;padding: 0;margin-bottom: 25px;}
}
/* END Widget Template 2-2 ********************************************************************************************/

/* Widget Template 2-3 ************************************************************************************************/
.template-2-3 .block-post-grid {position: relative;overflow: hidden;margin: 0;}
.template-2-3 .block-post {width: 100%;float: left;padding: 0 0 15px;margin-bottom: 15px;}
.template-2-3 .block-post .image-wrap {padding-bottom: 35% !important;}
@media (max-width: 767px) {
    .template-2-3 .block-post-grid {margin: 0;}
    .template-2-3 .block-post {padding: 0;margin-bottom: 25px;}
}
/* END Widget Template 2-3 ********************************************************************************************/


/* Widget Template 3 **************************************************************************************************/
[class^=template-3-] .block-post-grid {position: relative;overflow: hidden;margin-left: -15px;margin-right: -15px;}
[class^=template-3-] .block-post {display: -ms-flexbox;display: flex;}
.page-layout-1column [class^=template-3-] .post-info h3.post-title a {font-size: 14px;line-height: 20px;font-weight: 600;}
[class^=template-3-] .post-info h3.post-title a {font-size: 14px;line-height: 20px;font-weight: 600;}

/* All Templates */
[class^=template-3-] .block-post-grid .image-container {-ms-flex: 0 0 30%;flex: 0 0 30%;order: 0;/*max-width: 30%;width: 30%;*/}
[class^=template-3-] .post-category {display: none !important;}
[class^=template-3-] .post-info {padding: 0 0 0 25px;width: 100%;}
[class^=template-3-] .post-data-wrap {font-weight: 600;font-size: 11px;line-height: 18px;}
[class^=template-3-] .post-author-name {display: none;}
[class^=template-3-] .post-view {display: none !important;}
[class^=template-3-] .post-description {display: none !important;}

/* template-3-1, template-3-4 */
[class^=template-3-] .col-3-wrap .block-post {width: 33.3%;float: left;padding: 0 15px 15px;margin-bottom: 15px;}
[class^=template-3-] .col-3-wrap .block-post:nth-child(3n+1) {clear: both;}
/* Not 1, 2, 3 */
[class^=template-3-] .col-3-wrap .block-post:nth-child(-n+3) {-ms-flex-direction: column;flex-direction: column;}
[class^=template-3-] .col-3-wrap .block-post:nth-child(-n+3) .image-container {-ms-flex: 0 0 100%;flex: 0 0 100%;}
[class^=template-3-] .col-3-wrap .block-post:nth-child(-n+3) .post-info h3.post-title a {font-size: 20px !important;line-height: 25px !important;font-weight: 500 !important;}

/* template-3-2, template-3-5 */
[class^=template-3-] .col-2-wrap .block-post {width: 50%;float: left;padding: 0 15px 15px;margin-bottom: 15px;}
[class^=template-3-] .col-2-wrap .block-post:nth-child(2n+1) {clear: both;}
/* Not 1, 2 */
[class^=template-3-] .col-2-wrap .block-post:nth-child(-n+2) {-ms-flex-direction: column;flex-direction: column;}
[class^=template-3-] .col-2-wrap .block-post:nth-child(-n+2) .image-container {-ms-flex: 0 0 100%;flex: 0 0 100%;}
[class^=template-3-] .col-2-wrap .block-post:nth-child(-n+2) .post-info h3.post-title a {font-size: 20px !important;line-height: 25px !important;font-weight: 500 !important;}

/* template-3-3, template-3-6  */
[class^=template-3-] .col-1-wrap .block-post {width: 100%;float: left;padding: 0 15px 15px;margin-bottom: 15px;}

@media (max-width: 768px) {
    [class^=template-3-] .block-post-grid {margin-left: -7.5px;margin-right: -7.5px;}
    [class^=template-3-] .block-post {padding: 0 7.5px 7.5px;}
    [class^=template-3-] .post-info h3.post-title a {font-size: 14px !important;line-height: 20px !important;font-weight: 600 !important;}
    [class^=template-3-] .col-3-wrap .image-container .image-wrap,
    [class^=template-3-] .col-2-wrap .image-container .image-wrap {padding-bottom: 75%;}
    [class^=template-3-] .col-3-wrap.block-post-grid .post-info,
    [class^=template-3-] .col-2-wrap.block-post-grid .post-info {padding: 0 0 0 15px;width: 100%;}
}
@media (max-width: 767px) {
    [class^=template-3-] .block-post-grid .block-post {width: 100% !important;float: left;padding: 0 7.5px 7.5px;margin-bottom: 15px;}
    [class^=template-3-] .post-info h3.post-title a {font-size: 14px !important;line-height: 20px !important;font-weight: 600 !important;}
    [class^=template-3-] .post-data-wrap {margin-bottom: 0 !important;}
    [class^=template-3-] .post-view {display: none !important;}
}


/* Widget Template 3-1 ************************************************************************************************/
.template-3-1 .post-info h3.post-title a {font-size: 14px !important;line-height: 20px !important;font-weight: 600 !important;}
.template-3-1 .block-post:nth-child(-n+3) .post-category {display: block !important;}
.template-3-1 .block-post:nth-child(-n+3) .post-info {padding: 15px 0 0;}
.template-3-1 .block-post:nth-child(-n+3) .post-view {display: block !important;}
.template-3-1 .block-post:nth-child(-n+3) .post-data-wrap .post-author-name {display: inline-block !important;}
.template-3-1 .block-post:nth-child(-n+3) .post-description {display: block !important;}
@media (max-width: 1024px) {
    .template-3-1 .post-info {padding: 0 0 0 15px;}
}
@media (max-width: 992px) {
    .template-3-1 .col-3-wrap .block-post {width: 50%;}
    .template-3-1 .col-3-wrap .block-post:nth-child(3n+1) {clear: none;}
    .template-3-1 .col-3-wrap .block-post:nth-child(2n+1) {clear: both;}
    .template-3-1 .col-3-wrap .block-post:nth-child(3) {flex-direction: row;-ms-flex-direction: row;}
    .template-3-1 .col-3-wrap .block-post:nth-child(3) .image-container {-ms-flex: 0 0 30%;flex: 0 0 30%;order: 0;}
    .template-3-1 .col-3-wrap .block-post:nth-child(3) .post-category {display: none !important;}
    .template-3-1 .col-3-wrap .block-post:nth-child(3) .post-info {padding: 0 0 0 15px;}
    .template-3-1 .col-3-wrap .block-post:nth-child(3) .post-info h3.post-title a {font-size: 14px !important;line-height: 20px !important;font-weight: 600 !important;}
    .template-3-1 .col-3-wrap .block-post:nth-child(3) .post-view {display: none !important;}
    .template-3-1 .col-3-wrap .block-post:nth-child(3) .post-description {display: none !important;}
}
/* END Widget Template 3-1 ********************************************************************************************/


/* Widget Template 3-2 ************************************************************************************************/
.template-3-2 .post-info h3.post-title a {font-size: 18px !important;line-height: 22px !important;font-weight: 500 !important;}
/* Not 1, 2 */
.template-3-2 .block-post:nth-child(-n+2) .post-category {display: block !important;}
.template-3-2 .block-post:nth-child(-n+2) .post-info {padding: 15px 0 0;}
.template-3-2 .block-post:nth-child(-n+2) .post-view {display: block !important;}
.template-3-2 .block-post:nth-child(-n+2) .post-data-wrap .post-author-name {display: inline-block !important;}
.template-3-2 .block-post:nth-child(-n+2) .post-description {display: block !important;}
/* END Widget Template 3-2 ********************************************************************************************/


/* Widget Template 3-3 ************************************************************************************************/
.template-3-3 .block-post-grid .block-post {margin-bottom: 25px;}
.template-3-3 .post-category {display: block !important;}
.template-3-3 .block-post-grid .post-info h3.post-title a {font-size: 18px !important;line-height: 22px !important;font-weight: 500 !important;}
.template-3-3 .post-data-wrap .post-author-name {display: inline-block;}
.template-3-3 .post-view {display: block !important;}
.template-3-3 .post-description {display: block !important;}
/* Not 1 */
.template-3-3 .block-post:nth-child(1) {-ms-flex-direction: column;flex-direction: column;}
.template-3-3 .block-post:nth-child(1) .image-container {-ms-flex: 0 0 100%;flex: 0 0 100%;}
.template-3-3 .block-post:nth-child(1) .image-container .image-wrap {padding-bottom: 35% !important;}
.template-3-3 .block-post:nth-child(1) .post-category {display: block !important;}
.template-3-3 .block-post:nth-child(1) .post-info {padding: 15px 0 0;}
.template-3-3 .block-post:nth-child(1) .post-info h3.post-title a {font-size: 20px !important;line-height: 25px !important;font-weight: 500 !important;}
.template-3-3 .block-post:nth-child(1) .post-view {display: block !important;}
.template-3-3 .block-post:nth-child(1) .post-data-wrap .post-author-name {display: inline-block !important;}
.template-3-3 .block-post:nth-child(1) .post-description {display: block !important;}
@media (max-width: 768px) {
    .template-3-3 .post-description {display: none !important;}
}
@media (max-width: 767px) {
    .template-3-3 .post-info h3.post-title a {font-size: 14px !important;line-height: 20px !important;font-weight: 600 !important;}
    .template-3-3 .post-view {display: none !important;}
    .template-3-3 .post-description {display: none !important;}
}
/* END Widget Template 3-3 ********************************************************************************************/


/* Widget Template 3-4 ************************************************************************************************/
.page-layout-1column .template-3-4 .post-info h3.post-title a {font-size: 14px !important;line-height: 20px !important;font-weight: 600 !important;}
.page-layout-2columns-right .template-3-4 .post-info h3.post-title a {font-size: 12px !important;line-height: 18px !important;font-weight: 600 !important;}
/* Not 1, 2, 3 */
.template-3-4 .block-post:nth-child(-n+3) {/*-ms-flex-direction: column;flex-direction: column;*/position: relative;}
.template-3-4 .block-post:nth-child(-n+3) .post-category {display: none !important;}
.template-3-4 .block-post:nth-child(-n+3) .post-info {position: absolute;left: 0;bottom: 0;width: 100%;pointer-events: none;z-index: 1;padding: 0 30px 15px;}
.template-3-4 .block-post:nth-child(-n+3) .post-info h3.post-title a {/*font-size: 20px !important;line-height: 25px !important;font-weight: 500 !important;*/color: #fff;text-shadow: 1px 1px 3px rgba(0,0,0,.2);}
.template-3-4 .block-post:nth-child(-n+3) .post-view {display: block !important;background: #fff;color: #000;}
.template-3-4 .block-post:nth-child(-n+3) .post-view:after {border-color: #fff transparent transparent;}
.template-3-4 .block-post:nth-child(-n+3) .post-data-wrap .post-author-name {display: inline-block !important;color: #fff;}
.template-3-4 .block-post:nth-child(-n+3) .post-data-wrap .post-author-name a,
.template-3-4 .block-post:nth-child(-n+3) .post-data-wrap .post-data {color: #fff;}
.template-3-4 .block-post:nth-child(-n+3) .post-description {display: none !important;}
@media (max-width: 1024px) {
    .template-3-4 .post-info {padding: 0 0 0 15px;}
}
@media (max-width: 768px) {
    .template-3-4 .block-post:nth-child(-n+3) .post-info h3.post-title a {font-size: 16px !important;line-height: 18px !important;font-weight: 600 !important;}
    .template-3-4 .block-post:nth-child(-n+3) .post-data-wrap {display: none;}
}
@media (max-width: 767px) {
    .page-layout-2columns-right .template-3-4 .post-info h3.post-title a {font-size: 14px !important;line-height: 20px !important;font-weight: 600 !important;}
}
/* END Widget Template 3-4 ********************************************************************************************/


/* Widget Template 3-5 ************************************************************************************************/
.page-layout-1column .template-3-5 .post-info h3.post-title a {font-size: 14px !important;line-height: 20px !important;font-weight: 600 !important;}
.page-layout-2columns-right .template-3-5 .post-info h3.post-title a {font-size: 18px !important;line-height: 22px !important;font-weight: 500 !important;}
/* Not 1, 2 */
.template-3-5 .block-post:nth-child(-n+2) {/*-ms-flex-direction: column;flex-direction: column;*/position: relative;}
.template-3-5 .block-post:nth-child(-n+2) .post-category {display: none !important;}
.template-3-5 .block-post:nth-child(-n+2) .post-info {position: absolute;left: 0;bottom: 0;width: 100%;pointer-events: none;z-index: 1;padding: 0 30px 15px;}
.template-3-5 .block-post:nth-child(-n+2) .post-info h3.post-title a {/*font-size: 20px !important;line-height: 25px !important;font-weight: 500 !important;*/color: #fff;text-shadow: 1px 1px 3px rgba(0,0,0,.2);}
.template-3-5 .block-post:nth-child(-n+2) .post-view {display: block !important;background: #fff;color: #000;}
.template-3-5 .block-post:nth-child(-n+2) .post-view:after {border-color: #fff transparent transparent;}
.template-3-5 .block-post:nth-child(-n+2) .post-data-wrap .post-author-name {display: inline-block !important;color: #fff;}
.template-3-5 .block-post:nth-child(-n+2) .post-data-wrap .post-author-name a,
.template-3-5 .block-post:nth-child(-n+2) .post-data-wrap .post-data {color: #fff;}
.template-3-5 .block-post:nth-child(-n+2) .post-description {display: none !important;}
@media (max-width: 768px) {
    .template-3-5 .block-post:nth-child(-n+2) .post-info h3.post-title a {font-size: 16px !important;line-height: 18px !important;font-weight: 600 !important;}
    .template-3-5 .block-post:nth-child(-n+2) .post-data-wrap {display: none;}
}
/* END Widget Template 3-5 ********************************************************************************************/


/* Widget Template 3-6 ************************************************************************************************/
.template-3-6 .block-post-grid .block-post {margin-bottom: 25px;}
.template-3-6 .post-info h3.post-title a {font-size: 20px !important;line-height: 25px !important;font-weight: 500 !important;}
.template-3-6 .post-data-wrap .post-author-name {display: inline-block;}
.template-3-6 .post-view {display: block !important;}
.template-3-6 .post-description {display: block !important;}
/* Not 1 */
.template-3-6 .block-post:nth-child(1) {position: relative;}
.template-3-6 .block-post:nth-child(1) .image-container {-ms-flex: 0 0 100%;flex: 0 0 100%;}
.template-3-6 .block-post:nth-child(1) .image-container .image-wrap {padding-bottom: 35% !important;}
.template-3-6 .block-post:nth-child(1) .post-category {display: none !important;}
.template-3-6 .block-post:nth-child(1) .post-info {position: absolute;left: 0;bottom: 0;width: 100%;pointer-events: none;z-index: 1;padding: 0 30px 15px;}
.template-3-6 .block-post:nth-child(1) .post-info h3.post-title a {font-size: 20px !important;line-height: 25px !important;font-weight: 500 !important;color: #fff;text-shadow: 1px 1px 3px rgba(0,0,0,.2);}
.template-3-6 .block-post:nth-child(1) .post-view {display: block !important;background: #fff;color: #000;}
.template-3-6 .block-post:nth-child(1) .post-view:after {border-color: #fff transparent transparent;}
.template-3-6 .block-post:nth-child(1) .post-data-wrap .post-author-name {display: inline-block !important;color: #fff;}
.template-3-6 .block-post:nth-child(1) .post-data-wrap .post-author-name a,
.template-3-6 .block-post:nth-child(1) .post-data-wrap .post-data {color: #fff;}
.template-3-6 .block-post:nth-child(1) .post-description {display: none !important;}
@media (max-width: 768px) {
    /*.template-3-6 .block-post:nth-child(1) .post-info h3.post-title a {font-size: 16px !important;line-height: 18px !important;font-weight: 600 !important;}*/
}
@media (max-width: 767px) {
    .template-3-6 .block-post:nth-child(1) .image-container .image-wrap {padding-bottom: 55%;}
    .template-3-6 .post-view {display: none !important;}
    .template-3-6 .post-info h3.post-title a {font-size: 14px !important;line-height: 20px !important;font-weight: 600 !important;}
    .template-3-6 .block-post:nth-child(1) .post-info h3.post-title a {font-size: 14px !important;line-height: 20px !important;font-weight: 600 !important;}
    .template-3-6 .post-description {display: none !important;}

}
/* END Widget Template 3-6 ********************************************************************************************/


/* Widget Template 4 **************************************************************************************************/
[class^=template-4] .post-list .post-info {padding: 0 10px 0 15px;width: 100%;}
[class^=template-4] .post-list .post-info .post-title a {font-size: 14px;line-height: 20px;font-weight: 600;}
@media (max-width: 767px) {
    [class^=template-4] .post-list .post-info {padding: 0 0 0 15px;width: 100%;}
}
/* END Widget Template 4 **********************************************************************************************/

/* Widget Template 4-1 ************************************************************************************************/
.template-4-1 .block-content {margin-left: -1.5rem;margin-right: -1.5rem;}
/*[class^=template-4] .post-list .post-info .post-title a {font-size: 14px;line-height: 20px;font-weight: 600;}*/
@media (max-width: 767px) {
    .template-4-1 .block-content {margin-left: 0;margin-right: 0;}
}
/* END Widget Template 4-1 ********************************************************************************************/


/* Widget Template 4-2 ************************************************************************************************/
.template-4-2 .block-content {margin-left: -1.5rem;margin-right: -1.5rem;}
.template-4-2 .block-left {width: 33.3%;}
.template-4-2 .block-right {width: 66.6%;}
.template-4-2 .post-list {
    display: -ms-flexbox !important;display: flex !important;
    -ms-flex-wrap: wrap;flex-wrap: wrap;}
.template-4-2 .block-right .post-item {
    display: -ms-flexbox !important;display: flex !important;
    width: 50%;}
@media (max-width: 1023px) {
    .template-4-2 .block-content {
        -ms-flex-direction: column !important;flex-direction: column !important;}
    .template-4-2 .block-left {width: 100%;}
    .template-4-2 .block-post {margin-bottom: 2.5rem !important;}
    .template-4-2 .block-left .image-container .image-wrap {padding-bottom: 55%;}

    .template-4-2 .block-right {width: 100%;}
    .template-4-2 .block-right .post-item {
        display: -ms-flexbox !important;display: flex !important;
        width: 50% !important;}
}
@media (max-width: 767px) {
    .template-4-2 .block-content {margin-left: 0;margin-right: 0;}
    .template-4-2 .block-right .post-item {width: 100% !important;}
}
/* END Widget Template 4-2 ********************************************************************************************/


/* Widget Template 5 **************************************************************************************************/
[class^=template-5] .block-row {margin-left: -1rem;margin-right: -1rem;}
[class^=template-5] .block-content {margin-left: -1.5rem;margin-right: -1.5rem;}
[class^=template-5] .block-content .block-post {margin-bottom: 30px;}
[class^=template-5] .post-list .post-info {padding: 0 0 0 15px;width: 100%;}
[class^=template-5] .block-post + .post-list .post-info h3 a {font-size: 14px;line-height: 20px;font-weight: 600;}
[class^=template-5] .block-post:nth-child(1) .post-info {position: absolute;left: 0;bottom: 0;width: 100%;pointer-events: none;z-index: 1;padding: 0 15px 15px;}
[class^=template-5] .block-post:nth-child(1) .post-info h3.post-title a {font-size: 20px !important;line-height: 25px !important;font-weight: 500 !important;color: #fff;text-shadow: 1px 1px 3px rgba(0,0,0,.2);}
[class^=template-5] .block-post:nth-child(1) .post-data-wrap .post-author,
[class^=template-5] .block-post:nth-child(1) .post-data-wrap .post-author a,
[class^=template-5] .block-post:nth-child(1) .post-data-wrap .post-data {color: #fff;}
[class^=template-5] .block-post:nth-child(1) .post-view {display: block !important;background: #fff;color: #000;}
@media (max-width: 1024px) {
    [class^=template-5] .block-post + .post-list .post-info h3 a {font-size: 18px;line-height: 22px;font-weight: 500;}
}
@media (max-width: 767px) {
    [class^=template-5] .block-row {margin-left: 0;margin-right: 0;}
    [class^=template-5] .block-content {margin-left: 0;margin-right: 0;}
    [class^=template-5] .block-post + .post-list .post-info h3 a {font-size: 14px;line-height: 20px;font-weight: 500;}
}
/* END Widget Template 5 **********************************************************************************************/


/* Widget Template 5-1 ************************************************************************************************/
/*.template-5-1 .block-post + .post-list .post-info h3 a {font-size: 18px;line-height: 22px;font-weight: 500;}*/
@media (min-width: 992px) and (max-width: 1023.98px) {
    .template-5-1 .post-list .post-item {}
}
@media (max-width: 991px) {
    .page-layout-2columns-left .template-5-1 .block-row,
    .page-layout-2columns-right .template-5-1 .block-row {-ms-flex-direction: column !important;flex-direction: column !important;}
    .page-layout-2columns-left .template-5-1 .row-cols-md-3 > *,
    .page-layout-2columns-right .template-5-1 .row-cols-md-3 > * {-ms-flex: 0 0 100% !important;flex: 0 0 100% !important;max-width: 100% !important;}
}
@media (max-width: 768px) {
    .template-5-1 .block-post + .post-list .post-info h3 a {font-size: 14px;line-height: 20px;font-weight: 500;}
}
/* END Widget Template 5-1 ********************************************************************************************/


/* Widget Template 5-2 ************************************************************************************************/
@media (max-width: 768px) {
    .template-5-2 .block-post + .post-list .post-info h3 a {font-size: 14px;line-height: 20px;font-weight: 500;}
}
/* END Widget Template 5-2 ********************************************************************************************/


/* Widget Template 5-3 ************************************************************************************************/
@media (max-width: 768px) {
    .template-5-3 .block-post + .post-list .post-info h3 a {font-size: 14px;line-height: 20px;font-weight: 500;}
}
@media (max-width: 767px) {
    .template-5-3.w-50 {width: 100% !important;}
}
/* END Widget Template 5-3 ********************************************************************************************/

/* END Widget Templates ***********************************************************************************************/
