/* Widget Template 1-2 ************************************************************************************************/
.template-1-2 .post-list {margin-left: -15px;margin-right: -15px;}
.template-1-2 .post-list .post-item {width: 50%;float: left;padding-left: 15px;padding-right: 15px;padding-bottom: 15px;margin-bottom: 1.5rem;}
.template-1-2 .post-list .post-item:nth-child(2n+1) {clear: both;}
.template-1-2 .post-list .block-content .image-wrap {padding-bottom: 70%;}
.template-1-2 .post-list .image-container .post-category {display: none;}
.template-1-2 .post-list .post-description {max-height: 43px;overflow: hidden;display: none;}
.template-1-2 .post-list .post-info h3.post-title a {font-size: 18px !important;line-height: 22px !important;font-weight: 500;display: inline-block;}
@media (max-width: 1024px) {
    .template-1-2 .post-list .post-info h3.post-title a {font-size: 18px !important;line-height: 22px !important;font-weight: 500;display: inline-block;max-height: 39px;overflow: hidden;}
    .page-layout-2columns-right .template-1-2 .post-list .post-info h3.post-title a,
    .page-layout-2columns-left .template-1-2 .post-list .post-info h3.post-title a {font-size: 14px !important;line-height: 20px !important;font-weight: 600 !important;}
    .template-1-2 .post-list .post-description {display: none;}
}
@media (max-width: 992px) {
    .template-1-2 .post-list .post-info h3.post-title a {font-size: 14px !important;line-height: 20px !important;font-weight: 600;display: inline-block;max-height: 39px;overflow: hidden;}
}
@media (max-width: 768px) {
    .template-1-2 .post-list .block-content .image-wrap {padding-bottom: 70%;}
    .template-1-2 .post-list .post-description {font-size: 13px;}
}
@media (max-width: 767px) {
    .template-1-2 .post-list {margin: 0;}
    .template-1-2 .post-list .post-item {width: 100%;float: none;padding: 0;}
}
/* END Widget Template 1-2 ********************************************************************************************/
