/* Widget Template 3-4 ************************************************************************************************/
.page-layout-1column .template-3-4 .post-info h3.post-title a {font-size: 14px !important;line-height: 20px !important;font-weight: 600 !important;}
.page-layout-2columns-right .template-3-4 .post-info h3.post-title a {font-size: 12px !important;line-height: 18px !important;font-weight: 600 !important;}
/* Not 1, 2, 3 */
.template-3-4 .block-post:nth-child(-n+3) {/*-ms-flex-direction: column;flex-direction: column;*/position: relative;}
.template-3-4 .block-post:nth-child(-n+3) .post-category {display: none !important;}
.template-3-4 .block-post:nth-child(-n+3) .post-info {position: absolute;left: 0;bottom: 0;width: 100%;pointer-events: none;z-index: 1;padding: 0 30px 15px;}
.template-3-4 .block-post:nth-child(-n+3) .post-info h3.post-title a {/*font-size: 20px !important;line-height: 25px !important;font-weight: 500 !important;*/color: #fff;text-shadow: 1px 1px 3px rgba(0,0,0,.2);}
.template-3-4 .block-post:nth-child(-n+3) .post-view {display: block !important;background: #fff;color: #000;}
.template-3-4 .block-post:nth-child(-n+3) .post-view:after {border-color: #fff transparent transparent;}
.template-3-4 .block-post:nth-child(-n+3) .post-data-wrap .post-author-name {display: inline-block !important;color: #fff;}
.template-3-4 .block-post:nth-child(-n+3) .post-data-wrap .post-author-name a,
.template-3-4 .block-post:nth-child(-n+3) .post-data-wrap .post-data {color: #fff;}
.template-3-4 .block-post:nth-child(-n+3) .post-description {display: none !important;}
@media (max-width: 1024px) {
    .template-3-4 .post-info {padding: 0 0 0 15px;}
}
@media (max-width: 768px) {
    .template-3-4 .block-post:nth-child(-n+3) .post-info h3.post-title a {font-size: 16px !important;line-height: 18px !important;font-weight: 600 !important;}
    .template-3-4 .block-post:nth-child(-n+3) .post-data-wrap {display: none;}
}
@media (max-width: 767px) {
    .page-layout-2columns-right .template-3-4 .post-info h3.post-title a {font-size: 14px !important;line-height: 20px !important;font-weight: 600 !important;}
}
/* END Widget Template 3-4 ********************************************************************************************/
