<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <type name="Magefan\Blog\Model\ResourceModel\Comment">
        <plugin
            name="magefan_blogextra_plugin_magefan_blog_resource_model_comment_admin_notification_plugin_graphql"
            type="Magefan\BlogExtra\Plugin\Magefan\Blog\Model\ResourceModel\Comment\AdminEmailNotification"
            sortOrder="2"
            disabled="false"
        />
    </type>
</config>
