
.saved-card-form .exp-date{float: left;}
.saved-card-form .field.number {display: inline-block;}
.saved-card-form input#cvv_number {width: 77px;}
.saved-card-form select#card_type, input#number {width: 308px;}
.saved-card-form .field.expiration-date {display: inline-block;width: 100%;}
.saved-card-form input[type="text"], select{width: 470px;}
.block-bodysize {clear: both;}
.display-none {display: none;}
.saved-card-form .field.region { display: block !important;}
