<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Rootways Inc. Team
 * @copyright Copyright (c) 2023 Rootways (https://www.rootways.com)
 * @package Rootways_Authorizecim
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
    	<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Rootways_Authorizecim::config_authorizecim" title="Rootways Authorizecim Payment" sortOrder="70" />
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
