<?xml version="1.0"?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mfyoutube" translate="label" type="text" sortOrder="12223987810" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>YouTube Widget</label>
            <tab>magefan</tab>
            <resource>Magefan_YouTubeWidget::config_youtube</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <attribute type="expanded">1</attribute>
                <field id="version" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Magefan\YouTubeWidget\Block\Adminhtml\System\Config\Form\Info</frontend_model>
                </field>
                <field id="replace_youtube_iframes" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Replace YouTube Iframes In Product Descriptions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When enabled all YouTube iframes in the product description on the storefront will be replaced with the Magefan YouTube Widget.</comment>
                </field>

                <field id="replace_youtube_iframes_image_quality" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Preview Image Quality In Product Descriptions</label>
                    <source_model>Magefan\YouTubeWidget\Model\Config\Source\PreviewImageQuality</source_model>
                    <depends>
                        <field id="replace_youtube_iframes">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
