<?xml version="1.0"?>
<!--
/**
 * Copyright © Mageside. All rights reserved.
 * See MS-LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageside_all" translate="label" sortOrder="50">
            <label>Mageside</label>
        </tab>
        <section id="mageside_recipe" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Recipes and Ingredients</label>
            <tab>mageside_all</tab>
            <resource>Mageside_Recipe::config_mageside_recipe</resource>
            <group id="hint" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <frontend_model>Mageside\Recipe\Block\Adminhtml\System\Config\Fieldset\Hint</frontend_model>
            </group>
            <group id="general" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="google_rich_snippets" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Rich Snippets</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="recipe_list" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Recipe List</label>
                <field id="load_by_ajax" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Load by Ajax</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="recipe_per_page" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recipes per Page</label>
                    <comment>Number of recipes per page for homepage and writer page</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="social_share_enable" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Social Share</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="facebook_share" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Facebook Share</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <depends>
                        <field id="social_share_enable">1</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="twitter_share" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Twitter Share</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <depends>
                        <field id="social_share_enable">1</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="google_share" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Share</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <depends>
                        <field id="social_share_enable">1</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="pinterest_share" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pinterest Share</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <depends>
                        <field id="social_share_enable">1</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="seo" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Search Engine Optimization</label>
                <field id="route" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Route</label>
                </field>
                <field id="page_title_for_recipe" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Page Title for Recipes</label>
                </field>
                <field id="url_postfix" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Postfix</label>
                    <comment>Example: .html</comment>
                </field>
            </group>
            <group id="review" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Recipe Reviews</label>
                <field id="enabled" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="availability" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Guests to Write Reviews</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="product_page" translate="label" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Page</label>
                <field id="show_on_product_page" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show on Product Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="block_title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Title</label>
                    <depends>
                        <field id="show_on_product_page">1</field>
                    </depends>
                </field>
                <field id="recipes_per_page" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of Recipes</label>
                    <depends>
                        <field id="show_on_product_page">1</field>
                    </depends>
                </field>
            </group>
            <group id="recipe_ingredient" translate="label" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                <comment>
                    <![CDATA[Default route: */recipe/ingredient]]>
                </comment>
                <label>Recipes Per Ingredient</label>
                <field id="recipes_per_ingredient_page_title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recipes Per Ingredient Title</label>
                </field>
                <field id="ingredient_page_title" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mask Ingredient Page Title</label>
                    <comment>{product_name} - placeholder for product name</comment>
                </field>
            </group>
        </section>
        <section id="sitemap">
            <group id="mageside_recipe" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Recipes and Ingredients</label>
                <field id="changefreq" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Frequency</label>
                    <source_model>Magento\Sitemap\Model\Config\Source\Frequency</source_model>
                </field>
                <field id="priority" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Priority</label>
                    <backend_model>Magento\Sitemap\Model\Config\Backend\Priority</backend_model>
                    <comment>Valid values range from 0.0 to 1.0.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
