<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd"
>
    <menu>
        <add 
        	id="Magefan_BlogExtra::comment_subscriber" 
        	title="Comment Subscribers" 
        	module="Magefan_BlogExtra" 
        	parent="Magefan_Blog::elements" 
        	sortOrder="35" 
        	action="blogextra/commentsubscriber" 
        	resource="Magefan_BlogExtra::comment_subscriber"
        />
    </menu>
</config>
