<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
  <system>
    <section id="mfblog">
      <group id="general">
          <field id="version_extra" translate="label comment" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
              <frontend_model>Magefan\BlogExtra\Block\Adminhtml\Config\Form\Info</frontend_model>
          </field>
      </group>
      <group id="post_view">
         <group id="category_posts" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Posts From The Same Category (BlogExtra)</label>
            <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                <label>Display Posts From The Same Category</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
           <field id="template" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
             <label>Template</label>
             <source_model>Magefan\BlogExtra\Model\Config\Source\LatestFromCategoryTemplate</source_model>
             <depends>
               <field id="enabled">1</field>
             </depends>
           </field>
            <field id="number_of_posts" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                <label>Number of Posts</label>
                <depends>
                    <field id="enabled">1</field>
                </depends>
            </field>
        </group>
        <group id="reading_progress_bar" translate="label" type="text" sortOrder="62" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Reading Progress Bar</label>
          <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Enabled</label>
            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
          </field>
          <field id="position" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Position</label>
            <source_model>Magefan\BlogExtra\Model\Config\Source\ReadingProgressBarPosition</source_model>
            <depends>
              <field id="enabled">1</field>
            </depends>
          </field>
          <field id="width" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Width/Height</label>
            <validate>validate-not-negative-number validate-zero-or-greater</validate>
            <depends>
              <field id="enabled">1</field>
            </depends>
          </field>
          <field id="highlight_color" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Color</label>
            <frontend_model>Magefan\Blog\Block\Adminhtml\System\Config\Form\ColorPicker</frontend_model>
            <depends>
              <field id="enabled">1</field>
            </depends>
          </field>
          <field id="highlight_color_opacity" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Opacity</label>
            <validate>validate-not-negative-number validate-zero-or-greater</validate>
            <depends>
              <field id="enabled">1</field>
            </depends>
          </field>
        </group>
        <group id="comments">
          <field id="enabled"  translate="label comment" type="select" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Enable Email Notifications (BlogExtra)</label>
            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            <depends>
              <field id="type">magefan</field>
            </depends>
            <comment>If enabled email notification will be sent to a customer when someone replies to his/her comment or write a new comment on a post customer interested in.</comment>
          </field>
          <field id="sender_form" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Sender</label>
            <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
            <depends>
              <field id="enabled">1</field>
            </depends>
          </field>
          <field id="email_template"  translate="label comment" type="select" sortOrder="75"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Email Template</label>
            <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
            <comment>This email template will be used to sent a notification of reply to a customer's comment</comment>
            <depends>
              <field id="enabled">1</field>
            </depends>
          </field>
          <field id="admin_enable_comment_notification" translate="label comment" type="select" sortOrder="85" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Enable Admin Email Notifications (BlogExtra)</label>
            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            <depends>
              <field id="type">magefan</field>
            </depends>
            <comment>If enabled email notification will be sent to Administrator about new comments which need approvement.</comment>
          </field>
          <field id="admin_send_from" translate="label comment" type="select" sortOrder="95" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Sender</label>
            <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
            <depends>
              <field id="admin_enable_comment_notification">1</field>
            </depends>
          </field>
          <field id="admin_send_to" translate="label comment" type="text" sortOrder="105" showInDefault="1"  showInWebsite="1" showInStore="1" canRestore="1">
            <label>Send To</label>
            <comment>Enter email of admin which will receive notification about new comment.</comment>
            <depends>
              <field id="admin_enable_comment_notification">1</field>
            </depends>
          </field>
          <field id="admin_email_template" translate="label comment" type="select" sortOrder="115" showInDefault="1" showInWebsite="1"  showInStore="1" canRestore="1">
            <label>Email Template</label>
            <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
            <comment>This email template will be used to sent a notification about new customer comment.</comment>
            <depends>
              <field id="admin_enable_comment_notification">1</field>
            </depends>
          </field>
        </group>
      </group>
      <group id="blog_search" translate="label" type="text" sortOrder="125" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Blog Search (Blog Extra)</label>
        <field id="enable_blog_search" translate="label comment" type="select" sortOrder="135" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Include Blog Search Into Catalog Search (BlogExtra)</label>
            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
      </group>
      <group id="sidebar">
        <group id="contents" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Post Contents Widget</label>
          <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Enabled</label>
            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
          </field>
          <field id="sort_order" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Sort Order</label>
          </field>
        </group>
      </group>

    </section>
  </system>
</config>
